<div class="footer">
  <div class="container">
    <div class="footer-top-at">
      <div class="col-md-4 amet-sed">
        <h4>CONTACT US</h4>
        <p>Contrary to popular belief</p>
        <p>The standard chunk</p>
        <p>office: +12 34 995 0792</p>
        <ul class="social">
          <li>
            <a href="#" style="font-style: italic"></a>
          </li>
          <li>
            <a class="twitter" href="#" style="font-style: italic"></a>
          </li>
          <li>
            <a class="rss" href="#" style="font-style: italic"></a>
          </li>
          <li>
            <a class="gmail" href="#" style="font-style: italic"></a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>