<div class="row">
  <div class="col-sm-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Product Removed
        </div>
      </div>
      <div class="panel-body">
        <%= link_to 'Back', admin_products_path, class: 'btn btn-default'%>
      </div>
    </div>
  </div>
</div>