  <div class="header">
    <div class="header-top">
      <div class="container">
    <div class="container">
      <div class="head-top">
        <div class="logo">
          <a href="index.html"><img alt="" src="images/logo.png"></a>
        </div>

        <div class=" h_menu4">
          <ul class="memenu skyblue">
            <li class="active grid">
              <a class="color8" href="index.html">Home</a>
            </li>

            <li>
              <a class="color1" href="#">Shop</a>

              <div class="mepanel">
                <div class="row">
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li>
                          <a href="products.html">Accessories</a>
                        </li>

                        <li>
                          <a href="products.html">Bags</a>
                        </li>

                        <li>
                          <a href="products.html">Caps & Hats</a>
                        </li>

                        <li>
                          <a href="products.html">Hoodies & Sweatshirts</a>
                        </li>

                        <li>
                          <a href="products.html">Jackets & Coats</a>
                        </li>

                        <li>
                          <a href="products.html">Jeans</a>
                        </li>

                        <li>
                          <a href="products.html">Jewellery</a>
                        </li>

                        <li>
                          <a href="products.html">Jumpers & Cardigans</a>
                        </li>

                        <li>
                          <a href="products.html">Leather Jackets</a>
                        </li>

                        <li>
                          <a href="products.html">Long Sleeve T-Shirts</a>
                        </li>

                        <li>
                          <a href="products.html">Loungewear</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li>
                          <a href="products.html">Shirts</a>
                        </li>

                        <li>
                          <a href="products.html">Shoes, Boots & Trainers</a>
                        </li>

                        <li>
                          <a href="products.html">Shorts</a>
                        </li>

                        <li>
                          <a href="products.html">Suits & Blazers</a>
                        </li>

                        <li>
                          <a href="products.html">Sunglasses</a>
                        </li>

                        <li>
                          <a href="products.html">Sweatpants</a>
                        </li>

                        <li>
                          <a href="products.html">Swimwear</a>
                        </li>

                        <li>
                          <a href="products.html">Trousers & Chinos</a>
                        </li>

                        <li>
                          <a href="products.html">T-Shirts</a>
                        </li>

                        <li>
                          <a href="products.html">Underwear & Socks</a>
                        </li>

                        <li>
                          <a href="products.html">Vests</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1">
                    <div class="h_nav">
                      <h4>Popular Brands</h4>

                      <ul>
                        <li>
                          <a href="products.html">Levis</a>
                        </li>

                        <li>
                          <a href="products.html">Persol</a>
                        </li>

                        <li>
                          <a href="products.html">Nike</a>
                        </li>

                        <li>
                          <a href="products.html">Edwin</a>
                        </li>

                        <li>
                          <a href="products.html">New Balance</a>
                        </li>

                        <li>
                          <a href="products.html">Jack & Jones</a>
                        </li>

                        <li>
                          <a href="products.html">Paul Smith</a>
                        </li>

                        <li>
                          <a href="products.html">Ray-Ban</a>
                        </li>

                        <li>
                          <a href="products.html">Wood Wood</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="grid">
              <a class="color2" href="#">Lookbook</a>

              <div class="mepanel">
                <div class="row">
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li>
                          <a href="products.html">Accessories</a>
                        </li>

                        <li>
                          <a href="products.html">Bags</a>
                        </li>

                        <li>
                          <a href="products.html">Caps & Hats</a>
                        </li>

                        <li>
                          <a href="products.html">Hoodies & Sweatshirts</a>
                        </li>

                        <li>
                          <a href="products.html">Jackets & Coats</a>
                        </li>

                        <li>
                          <a href="products.html">Jeans</a>
                        </li>

                        <li>
                          <a href="products.html">Jewellery</a>
                        </li>

                        <li>
                          <a href="products.html">Jumpers & Cardigans</a>
                        </li>

                        <li>
                          <a href="products.html">Leather Jackets</a>
                        </li>

                        <li>
                          <a href="products.html">Long Sleeve T-Shirts</a>
                        </li>

                        <li>
                          <a href="products.html">Loungewear</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li>
                          <a href="products.html">Shirts</a>
                        </li>

                        <li>
                          <a href="products.html">Shoes, Boots & Trainers</a>
                        </li>

                        <li>
                          <a href="products.html">Shorts</a>
                        </li>

                        <li>
                          <a href="products.html">Suits & Blazers</a>
                        </li>

                        <li>
                          <a href="products.html">Sunglasses</a>
                        </li>

                        <li>
                          <a href="products.html">Sweatpants</a>
                        </li>

                        <li>
                          <a href="products.html">Swimwear</a>
                        </li>

                        <li>
                          <a href="products.html">Trousers & Chinos</a>
                        </li>

                        <li>
                          <a href="products.html">T-Shirts</a>
                        </li>

                        <li>
                          <a href="products.html">Underwear & Socks</a>
                        </li>

                        <li>
                          <a href="products.html">Vests</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col1">
                    <div class="h_nav">
                      <h4>Popular Brands</h4>

                      <ul>
                        <li>
                          <a href="products.html">Levis</a>
                        </li>

                        <li>
                          <a href="products.html">Persol</a>
                        </li>

                        <li>
                          <a href="products.html">Nike</a>
                        </li>

                        <li>
                          <a href="products.html">Edwin</a>
                        </li>

                        <li>
                          <a href="products.html">New Balance</a>
                        </li>

                        <li>
                          <a href="products.html">Jack & Jones</a>
                        </li>

                        <li>
                          <a href="products.html">Paul Smith</a>
                        </li>

                        <li>
                          <a href="products.html">Ray-Ban</a>
                        </li>

                        <li>
                          <a href="products.html">Wood Wood</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <a class="color4" href="blog.html">Blog</a>
            </li>

            <li>
              <a class="color6" href="contact.html">Conact</a>
            </li>
          </ul>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div><!--content-->
  <!---->

  <div class="product">
    <div class="container">
      <div class="col-md-3 product-price">
        <div class=" rsidebar span_1_of_left">
          <div class="of-left">
            <h3 class="cate">Categories</h3>
          </div>

          <ul class="menu">
            <li class="item1">
              <a href="#">Men</a>

              <ul class="cute">
                <li class="subitem1">
                  <a href="single.html">Cute Kittens</a>
                </li>

                <li class="subitem2">
                  <a href="single.html">Strange Stuff</a>
                </li>

                <li class="subitem3">
                  <a href="single.html">Automatic Fails</a>
                </li>
              </ul>
            </li>

            <li class="item2">
              <a href="#">Women</a>

              <ul class="cute">
                <li class="subitem1">
                  <a href="single.html">Cute Kittens</a>
                </li>

                <li class="subitem2">
                  <a href="single.html">Strange Stuff</a>
                </li>

                <li class="subitem3">
                  <a href="single.html">Automatic Fails</a>
                </li>
              </ul>
            </li>

            <li class="item3">
              <a href="#">Kids</a>

              <ul class="cute">
                <li class="subitem1">
                  <a href="single.html">Cute Kittens</a>
                </li>

                <li class="subitem2">
                  <a href="single.html">Strange Stuff</a>
                </li>

                <li class="subitem3">
                  <a href="single.html">Automatic Fails</a>
                </li>
              </ul>
            </li>

            <li class="item4">
              <a href="#">Accesories</a>

              <ul class="cute">
                <li class="subitem1">
                  <a href="single.html">Cute Kittens</a>
                </li>

                <li class="subitem2">
                  <a href="single.html">Strange Stuff</a>
                </li>

                <li class="subitem3">
                  <a href="single.html">Automatic Fails</a>
                </li>
              </ul>
            </li>

            <li class="item4">
              <a href="#">Shoes</a>

              <ul class="cute">
                <li class="subitem1">
                  <a href="product.html">Cute Kittens</a>
                </li>

                <li class="subitem2">
                  <a href="product.html">Strange Stuff</a>
                </li>

                <li class="subitem3">
                  <a href="product.html">Automatic Fails</a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!--initiate accordion-->
        <script type="text/javascript">
    $(function() {
                var menu_ul = $('.menu > li > ul'),
                       menu_a  = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function(e) {
                    e.preventDefault();
                    if(!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true,true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true,true).slideUp('normal');
                    }
                });
            
            });
        </script> <!---->

        <div class="product-middle">
          <div class="fit-top">
            <h6 class="shop-top">Lorem Ipsum</h6><a class="shop-now" href=
            "single.html">SHOP NOW</a>

            <div class="clearfix"></div>
          </div>
        </div>

        <div class="sellers">
          <div class="of-left-in">
            <h3 class="tag">Tags</h3>
          </div>

          <div class="tags">
            <ul>
              <li>
                <a href="#">design</a>
              </li>

              <li>
                <a href="#">fashion</a>
              </li>

              <li>
                <a href="#">lorem</a>
              </li>

              <li>
                <a href="#">dress</a>
              </li>

              <li>
                <a href="#">fashion</a>
              </li>

              <li>
                <a href="#">dress</a>
              </li>

              <li>
                <a href="#">design</a>
              </li>

              <li>
                <a href="#">dress</a>
              </li>

              <li>
                <a href="#">design</a>
              </li>

              <li>
                <a href="#">fashion</a>
              </li>

              <li>
                <a href="#">lorem</a>
              </li>

              <li>
                <a href="#">dress</a>
              </li>

              <li style="list-style: none; display: inline">
                <div class="clearfix"></div>
              </li>
            </ul>
          </div>
        </div><!---->

        <div class="product-bottom">
          <div class="of-left-in">
            <h3 class="best">Best Sellers</h3>
          </div>

          <div class="product-go">
            <div class=" fashion-grid">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/p1.jpg"></a>
            </div>

            <div class=" fashion-grid1">
              <h6 class="best2"><a href="single.html">Lorem ipsum dolor sit
              amet consectetuer</a></h6><span class=" price-in1">$40.00</span>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="product-go">
            <div class=" fashion-grid">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/p2.jpg"></a>
            </div>

            <div class="fashion-grid1">
              <h6 class="best2"><a href="single.html">Lorem ipsum dolor sit
              amet consectetuer</a></h6><span class=" price-in1">$40.00</span>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>

        <div class=" per1">
          <a href="single.html"><img alt="" class="img-responsive" src=
          "images/pro.jpg">

          <div class="six1">
            <h4>DISCOUNT</h4>

            <p>Up to</p><span>60%</span>
          </div></a>
        </div>
      </div>

      <div class="col-md-9 product1">
        <div class=" bottom-product">
          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "%3C%=%20asset_path('pi3.jpg')%20%%3E">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi1.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi4.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class=" bottom-product">
          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi5.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi1.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class=" bottom-product">
          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi3.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi4.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="col-md-4 bottom-cd simpleCart_shelfItem">
            <div class="product-at">
              <a href="single.html"><img alt="" class="img-responsive" src=
              "images/pi5.jpg">

              <div class="pro-grid">
                <span class="buy-in">Buy Now</span>
              </div></a>
            </div>

            <p class="tun">It is a long established fact that a
            reader</p><a class="item_add" href="#">
            <p class="number item_price"><i></i>$500.00</p></a>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>

      <div class="clearfix"></div>

      <nav class="in">
        <ul class="pagination">
          <li class="disabled">
            <a href="#"><span>«</span></a>
          </li>

          <li class="active">
            <a href="#">1 <span class="sr-only">(current)</span></a>
          </li>

          <li>
            <a href="#">2 <span class="sr-only"></span></a>
          </li>

          <li>
            <a href="#">3 <span class="sr-only"></span></a>
          </li>

          <li>
            <a href="#">4 <span class="sr-only"></span></a>
          </li>

          <li>
            <a href="#">5 <span class="sr-only"></span></a>
          </li>

          <li>
            <a href="#"><span>»</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div><!---->