<div class="row"> 
  <div class="col-sm-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to 'Delete', admin_brands_path, class: 'btn btn-default btn-xs pull-right', method: :delete %>
        <%= link_to 'Edit', edit_admin_brand_path, class: 'btn btn-default btn-xs pull-right' %>
        <div class="panel-title">
          Brand
        </div>
      </div>
      <div class="panel-body">
        <table  class="table table-bordered">  
          <thead></thead>
          <tbody>
            <tr>
              <td><p><%= @brand.name %></p></td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-offset-6">
          <%= link_to 'Back', admin_brands_path, class: 'btn btn-default'%>
        </div>
      </div>
    </div>
  </div>
</div>
         