<div class="row">
  <div class="col-md-offset-3 col-md-6" id="index">
    <%= render 'searchajax' %>
  </div>
</div>

<table class="col-md-offset-5 col-md-4" role="search" >
  <tr></tr>
  <tr>
    <td>
      <div class="form-group">
        <div class="col-sm-5">
          <%= link_to 'New Product', new_product_path, class: 'btn btn-default'%>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="col-sm-1">
          <%= link_to 'Home', products_path, class: 'btn btn-default'%>
        </div>
      </div>
    </td>
  </tr>
</table>

